body{
    background-color: rgb(70, 4, 50);
    color: rgb(223, 160, 223)
}


.chamada-texto{
    margin-right: 100px;
}

img{
    height: 200px;
}

.categoria-videos{
display: flex;
overflow-x:auto;
gap: 10px;
}